In [1]:
 import pandas as pd

In [ ]:
df = pd.read_json(r"/Users/jayasuryarathinagiri/Desktop/DATA ANALYST/Apocolypse Food Prep.json")
df

In [20]:
df = pd.read_csv(r"/Users/jayasuryarathinagiri/Desktop/DATA ANALYST/Companies.csv")
df

In [22]:
df2 = pd.read_excel(r"/Users/jayasuryarathinagiri/Desktop/DATA ANALYST/Apocolypse Food Prep.xlsx")
df2

      Store            Product  Price       Date  Month
0   Walmart               Rice  25.00 2022-01-01      1
1    Costco               Rice  23.00 2022-01-01      1
2    Target               Rice  22.99 2022-01-01      1
3   Walmart               Rice  25.75 2022-02-01      2
4    Costco               Rice  23.99 2022-02-01      2
5    Target               Rice  23.25 2022-02-01      2
6   Walmart               Rice  26.99 2022-03-01      3
7    Costco               Rice  24.99 2022-03-01      3
8    Target               Rice  24.25 2022-03-01      3
9   Walmart               Rice  26.99 2022-04-01      4
10   Costco               Rice  25.25 2022-04-01      4
11   Target               Rice  24.75 2022-04-01      4
12  Walmart        Dried Beans  22.99 2022-01-01      1
13   Costco        Dried Beans  20.99 2022-01-01      1
14   Target        Dried Beans  23.99 2022-01-01      1
15  Walmart        Dried Beans  23.99 2022-02-01      2
16   Costco        Dried Beans  22.99 2022-02-01      2
17   Target        Dried Beans  24.99 2022-02-01      2
18  Walmart        Dried Beans  24.25 2022-03-01      3
19   Costco        Dried Beans  22.99 2022-03-01      3
20   Target        Dried Beans  25.45 2022-03-01      3
21  Walmart        Dried Beans  24.49 2022-04-01      4
22   Costco        Dried Beans  23.99 2022-04-01      4
23   Target        Dried Beans  25.79 2022-04-01      4
24  Walmart     Bottled Water    5.00 2022-01-01      1
25   Costco     Bottled Water    4.25 2022-01-01      1
26   Target     Bottled Water    4.99 2022-01-01      1
27  Walmart     Bottled Water    5.25 2022-02-01      2
28   Costco     Bottled Water    4.49 2022-02-01      2
29   Target     Bottled Water    5.15 2022-02-01      2
30  Walmart     Bottled Water    5.45 2022-03-01      3
31   Costco     Bottled Water    4.80 2022-03-01      3
32   Target     Bottled Water    5.25 2022-03-01      3
33  Walmart     Bottled Water    5.75 2022-04-01      4
34   Costco     Bottled Water    4.89 2022-04-01      4
35   Target     Bottled Water    5.35 2022-04-01      4
36  Walmart  Canned Vegetables   0.65 2022-01-01      1
37   Costco  Canned Vegetables   0.85 2022-01-01      1
38   Target  Canned Vegetables   0.65 2022-01-01      1
39  Walmart  Canned Vegetables   0.75 2022-02-01      2
40   Costco  Canned Vegetables   0.85 2022-02-01      2
41   Target  Canned Vegetables   0.69 2022-02-01      2
42  Walmart  Canned Vegetables   0.85 2022-03-01      3
43   Costco  Canned Vegetables   0.85 2022-03-01      3
44   Target  Canned Vegetables   0.74 2022-03-01      3
45  Walmart  Canned Vegetables   1.00 2022-04-01      4
46   Costco  Canned Vegetables   0.85 2022-04-01      4
47   Target  Canned Vegetables   0.79 2022-04-01      4
48  Walmart               Milk   2.00 2022-01-01      1
49   Costco               Milk   2.30 2022-01-01      1
50   Target               Milk   2.20 2022-01-01      1
51  Walmart               Milk   2.10 2022-02-01      2
52   Costco               Milk   2.40 2022-02-01      2
53   Target               Milk   2.45 2022-02-01      2
54  Walmart               Milk   2.40 2022-03-01      3
55   Costco               Milk   2.50 2022-03-01      3
56   Target               Milk   2.70 2022-03-01      3
57  Walmart               Milk   2.90 2022-04-01      4
58   Costco               Milk   2.70 2022-04-01      4
59   Target               Milk   3.00 2022-04-01      4

In [18]:
pd.set_option('display.max.row',100)

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Store    60 non-null     object
 1   Product  60 non-null     object
 2   Price    60 non-null     float64
 3   Date     60 non-null     datetime64[ns]
 4   Month    60 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 2.5+ KB

In [24]:
df2.shape

(60, 5)

In [25]:
df2.head()

     Store Product  Price       Date  Month
0  Walmart    Rice  25.00 2022-01-01      1
1   Costco    Rice  23.00 2022-01-01      1
2   Target    Rice  22.99 2022-01-01      1
3  Walmart    Rice  25.75 2022-02-01      2
4   Costco    Rice  23.99 2022-02-01      2

In [27]:
df2.tail()

      Store Product  Price       Date  Month
55   Costco    Milk    2.5 2022-03-01      3
56   Target    Milk    2.7 2022-03-01      3
57  Walmart    Milk    2.9 2022-04-01      4
58   Costco    Milk    2.7 2022-04-01      4
59   Target    Milk    3.0 2022-04-01      4

In [30]:
df2['Store']

0     Walmart
1      Costco
2      Target
3     Walmart
4      Costco
5      Target
6     Walmart
7      Costco
8      Target
9     Walmart
10     Costco
11     Target
12    Walmart
13     Costco
14     Target
15    Walmart
16     Costco
17     Target
18    Walmart
19     Costco
20     Target
21    Walmart
22     Costco
23     Target
24    Walmart
25     Costco
26     Target
27    Walmart
28     Costco
29     Target
30    Walmart
31     Costco
32     Target
33    Walmart
34     Costco
35     Target
36    Walmart
37     Costco
38     Target
39    Walmart
40     Costco
41     Target
42    Walmart
43     Costco
44     Target
45    Walmart
46     Costco
47     Target
48    Walmart
49     Costco
50     Target
51    Walmart
52     Costco
53     Target
54    Walmart
55     Costco
56     Target
57    Walmart
58     Costco
59     Target
Name: Store, dtype: object

In [31]:
df2.loc[42]

Store                  Walmart
Product      Canned Vegetables
Price                     0.85
Date       2022-03-01 00:00:00
Month                        3
Name: 42, dtype: object

In [32]:
df2.iloc[42]

Store                  Walmart
Product      Canned Vegetables
Price                     0.85
Date       2022-03-01 00:00:00
Month                        3
Name: 42, dtype: object